* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: #f6e1c4d4;
}

nav a:hover {
    border-color: #ce9d6c;
}

.paralax {
    background-image: url(../img/paralax.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 86px 0;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1419px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.paper {
    background-color: #faebd794;
}

.butn-block {
    text-align: center;
}

.card {
    background-color: #ffffffab;
}

.first-card {
    margin: auto;
}

.card-block-second {
    display: flex;
    margin: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-second {
    margin-right: 10px;
    margin-bottom: 10px;
} 

.tabs label {
    color: #dc9b5a;
}

.tabs input:checked + label {
    border-bottom-color: #8d7c65;
}